<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title" routerLink="/">{{title}}</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/help">Help</button>
    <button class="avatar" [matMenuTriggerFor]="menu" mat-button *ngIf="afUser$ | async as afUser" mat-mini-fab [style.background-image]="'url(' + afUser.photoURL + ')'"></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
    <button mat-button *ngIf="!(afUser$ | async)" (click)="login()">ログイン</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="footer">
  <p>&copy; Nino Labo.</p>
</footer>
