<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title" routerLink="/">{{title}}</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/help">Help</button>
    <button class="avatar" mat-button (click)="logout()" *ngIf="afUser$ | async as afUser" mat-mini-fab [style.background-image]="'url(' + afUser.photoURL + ')'"></button>
    <button mat-button *ngIf="!(afUser$ | async)" (click)="login()">ログイン</button>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="footer">
  <p>&copy; Nino Labo.</p>
</footer>
